.header {
  display: flex;
  justify-content: space-around;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}

.logo {
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.m {
  padding: 20px;
  display: flex;
  justify-content: space-around;  
}

.mc{
  padding: 4px;
}

.Hero {
  display: flex;
  justify-content: space-evenly;
}

.Hpart1{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: first baseline;
}

.Hpart2{
  width: 50%;
}