.header{
  display: flex;
    padding: 10px;
    text-align: center;
    justify-content: space-between;
}

.logo{
  display: flex;
  padding: 10px;
  text-align: center;
  justify-content: space-around;
  height: 30px;
}

.favicon{
  display: flex;
  padding: 10px;
  text-align: center;
  justify-content: space-around;
  height: 30px;
  align-self: center;
}

.menu{
  display: flex;
  padding: 10px;
  text-align: center;
  justify-content: space-around;
} 

.m{
  display: flex;
  padding: 10px;
}

.Hero{
  display: flex;
  justify-content: space-between;
  padding: 5%;
  align-items: center;
}

.Hpart2{
  width:100%
}

.Hpart1{
  width:100%;
  align-items: center;
  justify-content: center;
}

.btn{
  align-self: center;
  border-radius: 5px;
  border: 0px;
  background-color: #0078d4;
  color: white;
  padding: 10px;
}

a{
  color: #0078d4;
}